/*各类效果*/
body {
    margin: 0;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    cursor: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAAHdbkFIAAAAAXNSR0IArs4c6QAAB4dJREFUeAHtWltIXUcUHY01Ro01Pus7WkWJCVWr1kptaqiEtFTij1+hGElCif1oEYSK5CdgBT+K/fAj2kow+Sk1kBBCNGlB+2ExthHbVKRNxCb4iFo1an17utbJHTneh/d67/HZs2HfOXdmz8yeNXv2zOxzhHCE7t27p0DO3aZsSEiIQobAPnOh1VqXLl0SEFqCgIe5kFBApgIWulkImAqt5W9V3uGbN2++u15nScRgdnb2N2tCqzhkZ2cfNQ3XQi4JOalgCr9iUWoqsJavcx77PuBKmyoUhOPp06dVaGh19PYalTPPBnq0wkNDQwvu7u4+yKMJ2aQ1tvXs2TPh6enJWXMzVX4Lz7+A52y2YCoIQ5oB9rInaJRbIkA3wKn0BnNhr4A3TPu5TEiouX+jtWlxqtWFhobSvXC+N2TSa0yWjYyMjPyLRnwd1WRNA6yUnJwsbt++PYVHf7A0dRbZpAMcPxdSTk6OUlxcrD6jESU/Pz/UZi1NwWoDFRUVXyD/bfD74A/A0WC7pDawtLQ0D8lDYA6L00sfYeHtkWdBnshJB0eCHRqzeQusxGVtAai5oPF/ryNAMzi0srIyy2Vx+fLlBPynfTllV86Axd0gUa7JmJgYPioPHz4sQj7LNt1G6cOS2CmdgpYXFhaU8fHxWyjnJunQ0oScw2R3ZJGRkSIxMfGjR48eTcNfDKJlP7BuithVQA4lNzdXhIeHB1dXV08CKB4XAsB0WC7ZyZqjhexMpsPDw6Kurq4xLS0tLjY2Nj4gIGDVP0OJMZwLO729vXMgb/foIds0T60qcO3aNREfH/+zm5vbOVQYBnPEhJ3yTMnMmzGlSFwjWnrC8vLyAg0Rz9lgjtZliNHGuiTnjyOiEjxf8GzBjZkblFPnDNQzyEDAQMBAwGEEtI6IXo+b0zJ4EbylTojngQi64bm5uV/xzOsJveOmE0dMFHgze429DQ4OpmLf/xOPm3IAYR/mRCWCwMeJAE9Dd+/eVXg+RN6rYO6AcqrwqD8R6mBwrlSAStTU1PAvd0bemDZ1V7SqAJW4cOGCqgQujmGbqYRNBahEXl6eqkRlZeURKMGjusPHOMg6ROsqQCWOHlUDbsqdO3dOoEUarG5KONTQ8+fPRXR0tDh16tQP3d3dH0MB3ZBwSAHiOD8/LxjGOHbs2JWBgYFKZOlyYVlXgdraWnH+/HmRnp4uPDxenl+pRFhY2OcvXrz4HkroMh1WbeDGjRtKX19fL+b91pMnT/5YXFycV61R8wMFuERZ32l6OSyz6ikpKeL06dPLCDt+iqJpMJHivJNZZwE8BHaZLBTAXUA0NzcLpCfQeh+YCpAoy9HKOryM0Fu6tGnJxtCOGu4TiNaK0tLST/C/HzwC5mhJ0h0zJdNLsnOmLhHhDQRnc3p7enqa8ZwI5o64rpGiXBdiJwfBSQj05SKlx2OgzyXjQn2HSMLJzYa3IhoZ55Y3Ix5MXIYXbaxLVIBEFKQyus2t2rLxYyBgIGAgYCBgILDDEZCboVRTbogyZT43R7lBSrk9k2oPXHzmsYTXjYN4i1qBC/rQ9PT01YsXL4YgTx5XeE4yBw5Zu584eB4MeQ9XXx5pLiAK7mV/1dfX87MPyvA6RCC0AOLv7iUOhDPPo3kCWD2eE4CIiAglISFB6ejoUPHA+4SJ1tbWfMgwdMM6vFew/q62Cs4mo3QMEyWB35Ozz9iEZFyIlevXr8uipd7e3lLI8vrAursaCHMA1FgZRyoHb56Wl5dLIJTR0dFv/Pz8+AKPfoJLaddYhNNrGP5AjdUUFhYKLy+v4snJybGZmZnmoqKiCA0QO95hOg0ABqkS/IGIi4sTWVlZApbwTkNDQx8c5u9I34CAdudwuS9Tl7omuimFOJbIyMjgm17R2dkZA0vogMMcaG9v/xAaM8Yhw0rsc8c4TN0AkNMyNTUlCgoKGEEUjY2NvrCMJjiLfx4/fvwZZMy30G0HQncAJBA4RImysjLVTyB1j42N/ZJAYJlcwda6Y7ZQbWxQ6m439fHxES0tLaq5WxPGQOkP1Dgj3juJiYkJAQcpfH19RWBg4Bl8+HlmbGzs66CgoArU56cB/ABi04Ng1nTdMABnz54VVVVVHNBEZmZm+YMHD0bRMKN4JFoUeR8i+X4oD8YhKgifIgV0dXX5Yyv1BwCHEGxfbGtra4Uc/QJfS27bUpAdc7uiMnRWPA2GYRZ/RKqaMFN/f39x//59ERUVxdn/9uTJk1eRPQlmiFrO4CoAyGObKhimlH3J97AMffKTF9aVFuBSmBvtOEV2LQDv6AS/WiopKRFwcEOpqannMJt/o7dxMGP3HIAMk3OQthhFKsmbJcEgs+62DF7VxvTD2eK5nq9sGZo/DgtYQ01NTV8hPxP8Ophy3OPl8RePdskcGLsVtlKApsobHt85HQa/ideB3xGB/v7+n7CGc5F3BBwO5sdzXC4EjYPa1SQHwJQD4jmeFxvOrrzycn3L11FM5bcU22620MVlkgCwIVoB/2sdF/O5ZrVrlf+3ZcuiMnqTFgBrbWvL98ygrQ3UyDMQMBAwEDAQMBAwEDAQMBAwEPifIfAfwZDQQN9qDuQAAAAASUVORK5CYII=) 2x,url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAAEEfUpiAAAAAXNSR0IArs4c6QAAArtJREFUWAntV01rGlEUHWuibcU2TVPTRonJpiL2a1FbaEtpAvobanGnIK4qKQjuhP4GseDWjYuii9CNiyJCN134segiJGlAcKELQWJDFZmeM+0TDRM/ppVuvHCceXfuPXPvfe/dN0qSmmxvb8vn9cvnFWPGFouF/pcHJjIEA/1AoXoTjUZpdfGbyFssFuVAIDDKP0Q34R1DlppuN/D+t+M87Qyy0Wh8VjO6RKVer5cymcyrXq/XUjPahPIxQOMlNQOdmvLf6wxI9SloNVdUKYXb7ZYPDg4+gMgwbYwiQRKcCCedTicdHh4emc3mB9D9EPpxVyWCVqvVgNET4CHwHHADJmCirMDiHnB1ouXCQLUCunq9/gZPrqg+nUK5zN7Rbre7sOVsiLUxhetvEwMJuCmPj4/ZNdYAZR9OyzAgIEmhUJB3d3fts5CMEJAklUrJ8Xicm3zi5hrpAHCUut2uVCqVpEgk8nV9ff1FOBz+AiKmdqEoEfh8PtnpdL6G1X2Ae+AlwFQmikKQTqeTsBQFZOiMbmIKZF8yGo13cbUBM1WfzkL4Js3OgmRx1ViB4XnmLvxvM8FAVrCpe/1+/zSfz7O/XAO4GGduD/CZWXiQbYq2srOzw/O+Xy6X30O/CvALZq6BMAC7CIAdhXC5XHKlUpFrtdrHra2t27AxAnOZJtUARCA2m03OZrMyDt5SMBh0Igi2/+H1g6E2mSobtshQKCQ5HI5H+Jb9dnZ2dpRIJNjteOr/VSBiXlmBO5iCE/RgJZVYLCZ5vd5KMpncR5u9brVa1/7I6g2IyWQy5HK5d36//xMcToGxPVshHfMzmAKPxyM3m82fOAj2YM/efhNgpmaAhyZbNqO8BVA3cqhgrEm4yjc6nc73arW6j/tnHANzW3TgVkRMAdcCM+H/DOr4iUD0gYUsKrCowFwr8AukF+p8blYsTwAAAABJRU5ErkJggg==) 1x) 4 4,auto!important
}

a {

}

body * {
    transition: all 0.5s ease-out;
}

.acrliy {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.32, 1);
    box-shadow: -3px 39px 102px -41px rgba(0, 0, 0, 0.54);
}

.acrliy-dark {
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.32, 1);
    box-shadow: -3px 39px 102px -41px rgba(0, 0, 0, 0.54);
}

.colorful {
    background-image: url(./image/textColor.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*排版*/

.paper {
    background-color: white;
}

.h1 {
    margin-left: 30px;
    font-size: 50px;
}

.h2 {
    font-family: "Helvetica";
    margin-left: 30px;
    font-size: 50px;
}

.l30 {
    margin-left: 30px;
}



.nav {
    background-color: #323232;
    width: 100%;
    height: 52px;
}

.flex {
    display: flex;
    height: 52px;
    max-width: 980px;
    margin: 0 auto;
}

.flexnav {
    margin: auto;
    justify-content: space-evenly;
    color: #999999;
    font-weight: bold;
    transition: color 0.5s;
}

.flexnav:hover {
    color: white;
    font-weight: bold;
    user-select: none;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.flexnav-active {
    color: white;
}

.flexnav-small {
    margin: auto;
    justify-content: space-evenly;
    color: #999999;
    font-weight: bold;
    transition: color 0.5s;
}

.flex2 {
    margin-right: calc(calc(100% - min(88%, 980px))/2);
    max-width: 300px;
}

.toolbar {
    width: 100%;
    height: 52px;
    align-items: center;
    line-height: 50px;
}


.sticky {
    display: block;
    overflow: visible;
    position: sticky;
    top: 0px;
}

.toolbar:after {
    content: "";
    background-color: rgb(172, 172, 172);
    height: 1px;
    width: 100%;
    display: block;
    overflow: visible;
    position: sticky;
    top: 108px;
    margin: 0 auto;
}

/*正文*/
.content {
    width: 88%;
    max-width: 980px;
    min-height: calc(100%-104px);
    margin: 0 auto;
}

.content .img {
    max-width: 100%;
    margin: auto;
}

.content .footnote {
    color: #323232;
    font-style: italic;
}

.x-scroll {
    overflow-x: auto;
    list-style: none;
    white-space: nowrap;
    width: auto;
    padding-inline-start: 0;
    user-select: none;
}

.x-scroll-item {
    margin-left: 20px;
    display: inline-block;
}

.x-scroll-item .screenshot {
    border-radius: 10px;
    width: 480px;
    height: 270px;
}

.x-scroll-item:first-child {
    margin-left: 0;
}

/* 尾端 */
.footer {
    width: 100%;
    background:rgb(220, 220, 220);
}

.footer > .content {
    margin: auto;
    padding: 60px 0px;
}

@media screen and (max-width:620px) {
    .nav {
        background-color: #323232;
        width: 100%;
        height: fit-content;
    }

    .h1 {
        margin-left: 0px;
        font-size: 50px;
    }

    .h2 {
        font-family: "Helvetica";
        margin-left: 0px;
        font-size: 50px;
    }

    .l30 {
        margin-left: 0px;
    }

    .content .footnote {
        text-indent: -1.2em;
        margin-left: 1.2em;
    }
    .x-scroll-item .screenshot {
        border-radius: 5px;
        width: 240px;
        height: 135px;
    }
}

@media screen and (min-width:620px) {
    .menu-botton {
        display: none;
    }

    body {
        background-color: #F6F6F6;
    }

    body::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: transparent;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #CCCCCC;
    }

    .content .footnote {
        text-indent: -1.2em;
        margin-left: 3.1em;
    }

    .content p {
        margin-left: 30px;
    }

    .drawer {
        display: none;
    }
}
